<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/all.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <title>Digits Recognition</title>
</head>

<body class="body">
  <!--navebar section-->
  <div class="container">
  <section class="nave">
    <nav class="navbar navbar-expand-lg navbar-dark text-dark bg-transparent shadow-sm">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul style="background-color:Tomato;" class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-center text-primary" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-center text-primary" href="http://127.0.0.1:8000/main">RECOGNIZE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <section class="home">
    <div class="container">
      <h1 class="display-4 headding "><center>Handwritten Digits Recognition</center></h1>
      <p class="text text-light">
        The fundamental problem with handwritten digit recognition is that handwritten digits are not same since they vary from person to person.&nbsp;The project presents recognizing the handwritten digits(0 to 9) from the famous MNIST dataset.&nbsp;Here we will be using artificial neural networks/convolution neural network.<br>
Ravi Kant (2019503549) <br>
Vigneshwar C (2019503060) <br>
Vimal Raaj M (2019503571) <br>
Kumara Kurunt K S (2019503529) 
 	</p>
    </div>
  </div>
  </section>
  <script src="/static/js/jquery-3.6.1.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>