<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style1.css">
  <link rel="stylesheet" href="/static/css/all.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <title>Digits Recognition</title>
  <script>
    function preview() {
      frame.src = URL.createObjectURL(event.target.files[0]);
    }
  </script>
</head>
<style>
    #rectangle{
     width:50%;
     height:70%;
     background-color: #fdfdfd;
     border-radius: 30px;
     position:absolute;
     margin-top :5%;
padding : 4%;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
    }
</style>

<body class="body">
  <!--navebar section-->
  <div class="container">
  <section class="nave">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul style="background-color:Tomato;" class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-center text-primary" href="http://127.0.0.1:8000/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-center text-primary" href="#">RECOGNIZE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
    <section class="home">
      <h1 style="font-size:300%; text-decoration:underline;" class="headding "><center>HANDWRITTEN DIGIT RECOGNITION</center></h1>
<section id="rectangle" class="container">
<form style="font-size:150%; font-weight:bold;" action="{{ url_for('upload_image_file') }}" method="POST" enctype="multipart/form-data">
                  <label>SELECT AN IMAGE</label>
<br><br>
                  <input id="image" type="file" name="file" accept="image/png, image/jpeg" onchange="preview()">
<br><br>
                  <img id="frame" src="" width="100px" height="100px" alt="CHOOSE AN IMAGE" />
<br><br>
                  <div class="buttons_div">
                    <button type="input" class="btn btn-dark" id="predict_button">RECOGNIZE</button>
                  </div>
                </form>
</section>
  </section>
  </div>
  <script src="/static/js/jquery-3.6.1.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>