.body{
    background-image: url(/static/assets/image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    min-width: 100%;
    min-height: 100vh;
}
.nav-item{
    margin-right:100px ;
    font-weight: 700;
color : rgb(255,255,255);
}
.title{
    margin-top: 70px;
}